@keyframes dropdownmove
{
    from{height:0;opacity: 0;}
    to{height:200px;opacity: 1;}
}
@keyframes dropdownhide
{
    from{height:200px;opacity: 1;}
    to{height:0;opacity: 0;}
}
html
{
    scroll-behavior: smooth;
}
:root.light-theme
{
    --bg-color:white;
    --nav-color:whitesmoke;
    --list-color:mintcream;
    --text-color:black;
    --hover-color:rgb(0, 150, 255);
    --button-color:rgb(0, 150, 255);
    --button-text-color:black;
}
:root.dark-theme
{
    --bg-color:black;
    --nav-color:rgb(21, 0, 80);
    --list-color:rgb(63, 0, 113);
    --text-color:whitesmoke;
    --hover-color:rgb(97, 0, 148);
    --button-color:rgb(97, 0, 148);
    --button-text-color:antiquewhite;
}
.topNav
{
    background-color:white;
    justify-content: space-evenly;
    color:black;
}
.topNavElement
{
    border:none;
    border-radius: 5px;
    transition-duration: 0.4s;
    background-color:white;
    white-space:nowrap;
    overflow: hidden;
    height:50px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size:20px;
    z-index: 1;
}
.topNavElement:hover
{
    font-size:23px;
    z-index: 2;
    background-color: rgb(0, 150, 255);
    box-shadow: 0px 1px, 1px 0px, 0px -1px, -1px 0px;
}
.topNavElement:focus
{
    z-index: 3;
}
.underline-animation
{
    display:flex;
    position:relative;
}
.underline-animation::after
{
    height:2px;
    position:absolute;
    content:'';
    width:100%;
    transform:scaleX(0);
    bottom:10%;
    left:0;
    background-color: black;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
.underline-animation:hover::after
{
    transform: scaleX(100%);
    transform-origin: center;
}
.dropdownmenu
{
    display:inline-flex !important;
    opacity: 0;
    height:0px;
    flex-direction: column;
    top:50px;
    max-height: 200px;
    overflow: auto;
    width: 200%;
    box-shadow: 0px 1px 2px;
    background-color: mintcream;
}
.searchbox
{
    background-color: rgba(128, 128, 128,0.5);
    border-style: solid;
    border-radius:20px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition:background-color 0.4s ease-in-out, outline 0.4s ease-in-out;
}
.searchbox:focus
{
    outline:rgb(65, 65, 255) solid 3px;
    background-color: rgba(128,128,128,0);
}
.topNavSearch
{
    height:45px;
    width:45px;
    border-radius:50%;
}
.overlay
{
    opacity: 0;
    padding:0px;
    margin:0px;
    display: none;
    background-color:rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    justify-content: center;
}
.signup
{
    border-radius: 10px;
    color: black;
    background-color: white;
    height:50%;
    width:20%;
    flex-wrap:wrap;
    align-items: flex-start;
    flex-direction: column;
    padding:5px;
}
