@keyframes dropdownmove
{
    from{height:0;opacity: 0;}
    to{height:200px;opacity: 1;}
}
@keyframes dropdownhide
{
    from{height:200px;opacity: 1;}
    to{height:0;opacity: 0;}
}
html
{
    scroll-behavior: smooth;
}
html[data-theme='light']
{
    --bg-color:white;
    --nav-color:#eeeeee;
    --text-color:black;
    --hover-color:rgb(0, 150, 255);
    --button-color:rgb(0, 150, 255);
    --button-hover-color:rgb(0, 100, 255);
    --button-text-color:black;
    --inactive-search-color:#bcbcbc;
    --active-search-color:#bcbcbc;
    --border-color:#1000ea;
    --filter-invert-val:1;
}
html[data-theme='dark']
{
    --bg-color:#00111c;
    --nav-color:#00263f;
    --text-color:whitesmoke;
    --hover-color:#616e7c;
    --button-color:#05b5b8;
    --button-hover-color:#005555;
    --button-text-color:antiquewhite;
    --inactive-search-color:#243b53;
    --active-search-color:#40667d;
    --border-color:#0000ff;
    --filter-invert-val:0;
}
.topNav
{
    transition: background-color 0.4s ease-in-out;
    background-color:var(--nav-color);
    justify-content: space-evenly;
    color:var(--text-color);
    max-height:50px;
}
.topNavElement
{
    transition: background-color 0.4s ease-in-out;
    border:none;
    border-radius: 5px;
    transition-duration: 0.4s;
    background-color:var(--nav-color);
    color:var(--text-color);
    white-space:nowrap;
    overflow: hidden;
    height:50px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size:20px;
    z-index: 1;
}
.topNavElement:hover
{
    font-size:23px;
    z-index: 2;
    background-color: var(--hover-color);
    box-shadow: 0px 1px, 1px 0px, 0px -1px, -1px 0px;
}
.topNavElement:focus
{
    z-index: 3;
}
.underline-animation
{
    display:flex;
    position:relative;
}
.underline-animation::after
{
    height:2px;
    position:absolute;
    content:'';
    width:100%;
    transform:scaleX(0);
    bottom:10%;
    left:0;
    background-color: var(--text-color);
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
.underline-animation:hover::after
{
    transform: scaleX(100%);
    transform-origin: center;
}
.dropdownmenu
{
    width:100%;
    z-index: 0;
    top: 100%;
    display:none;
    opacity: 0;
    height:0px;
    flex-direction: column;
    top:50px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 1px 2px;
    background-color: var(--bg-color)!important;
    color:var(--text-color)!important;
}
.searchbox
{
    height:50px;
    background-color: var(--inactive-search-color);
    color:var(--text-color);
    border-style: solid;
    border-radius:20px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition:background-color 0.4s ease-in-out, outline 0.4s ease-in-out;
}
.searchbox:focus
{
    z-index:3;
    outline:var(--border-color) solid 3px;
    background-color: var(--active-search-color);
}
.topNavSearch
{
    position:relative;
    height:45px;
    width:45px;
    border-radius:50%;
}
.overlay
{
    opacity: 0;
    padding:0px;
    margin:0px;
    display: none;
    background-color:rgba(0,0,0,0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;
}
.signup
{
    display: none;
    opacity:0;
    position:absolute;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--nav-color);
    max-height: 400px;
    max-width: 300px;
    height:50%;
    width:20%;
    flex-wrap:wrap;
    align-items: flex-start;
    flex-direction: column;
    padding:5px;
}
#regoverlay
{
    height:70%;
    width:20%;
    max-height:450px;
    max-width: 300px;
}
.switch
{
    background-color: var(--bg-color);
    align-items: center;
    justify-content: flex-start;
    width:70%;
    height:22px;
    border-radius: 34px;
    box-shadow: 0px 1px 1px, 1px 0px 1px, -1px 0px 1px, 0px -1px 1px ;
}
.switch input
{
    opacity: 0;
    width:0;
    height:0;
}
.slider
{
    height:20px;
    width:20px;
    border-radius: 50%;
    position: relative;
    top:0;
    left:1px;
    bottom:0;
    right:0;
    background-color: var(--button-color);
}
.btn:hover
{
    background-color: var(--button-hover-color)!important;
}
.dropdown-item
{
    background-color:var(--bg-color)!important;
    color:var(--text-color)!important;
}
.dropdown-item:hover
{
    background-color: var(--hover-color)!important;
}
#moon1 path
{
    fill:var(--text-color);
}
/* below enables scroll only when top navigation bar elements become single-column */
@media (max-width:575px) 
{
    #topNav
    {
        max-height: 100px;
        overflow: auto;
    }
}
@media (max-width: 992px)
{
    #regoverlay
    {
        height:455px !important;
        width:205px !important;
    }
    #signupoverlay
    {
        height:255px !important;
        width:205px !important;
    }
}
#dropdown0:hover>.transformsvg
{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}
.topNavElement:hover>.transformsvg
{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}

#change-avt
{
    z-index:9;
    clip-path:circle(100px at center);
    width:inherit;
    height:inherit;
    position:absolute;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
    cursor:pointer;
}
#change-avt:hover
{
    opacity:0.9;
}
#user-avt
{
    position: relative;
    clip-path:circle(95px at center);
    width:inherit;
    height:inherit;
    object-fit: cover;
}